<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/css/prism.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {% seo %} {% if article_meta %}
    <meta property="article:author" content="{{ seo.author }}" />
    {%- for tag in article_meta.tags -%}
    <meta property="article:tag" content="{{ tag }}" />
    {%- endfor -%}
    <meta
      property="article:published_time"
      content="{{ article_meta.published_time }}"
    />
    {% endif %}
  </head>

  <body class="max-w-3xl px-4 py-8 mx-auto">
    {% include navbar %}
    <main class="my-6">{{ content | safe }}</main>
    {% include footer %}
  </body>
</html>
