<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | capitalize }} | Karim</title>
  </head>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <body>
    <main class="flex flex-col md:flex-row">
      <aside class="p-4 bg-gray-100 md:w-1/3 md:min-h-screen">
        <img
          src="/images/karim.webp"
          alt="Picture of Karim smiling"
          class="w-48 h-48 mx-auto rounded-full"
          loading="lazy"
        />
        <h2 class="text-6xl font-black">Hello,</h2>
        <p class="text-xl">
          I'm Karim, a software developer from Tunisia. I like making things,
          writing and reading.
        </p>
        <ul class="my-4">
          <li>
            <a href="/" class="text-lg font-medium"> Home </a>
          </li>
        </ul>
      </aside>
      <div class="p-4 md:w-2/3">{{ content | safe }}</div>
    </main>
  </body>
</html>
