<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | capitalize }} | Karim</title>
  </head>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <body class="max-w-2xl p-4 mx-auto">
    <nav class="flex justify-start">
      <h1 class="text-3xl font-extrabold">
        <a href="/">Karim</a>
      </h1>
    </nav>
    <main>{{ content | safe }}</main>
  </body>
</html>
