<nav class="flex justify-between">
  <a href="/" class="text-xl font-bold">Karim Daghari </a>
  <ul class="flex space-x-4 text-xl font-medium leading-normal">
    <li>
      <a href="/" class="hover:underline"> About </a>
    </li>
    <li>
      <a href="/blog" class="hover:underline"> Blog </a>
    </li>
  </ul>
</nav>
