<nav class="flex items-baseline justify-between">
  {% include title %}
  <ul class="flex justify-end space-x-4 text-xl font-medium leading-normal">
    <li>
      <a href="/blog" class="hover:underline hover:font-bold"> Blog </a>
    </li>
    <li>
      <a href="/notes" class="hover:underline hover:font-bold"> Notes </a>
    </li>
  </ul>
</nav>
