<nav class="flex items-baseline justify-between">
  {% include title %}
  <ul
    class="flex space-x-3 text-lg font-medium leading-normal md:space-x-4 md:text-xl"
  >
    <li>
      <a href="/blog" class="hover:underline hover:font-bold"> Blog </a>
    </li>
    <li>
      <a href="/notes" class="hover:underline hover:font-bold"> Notes </a>
    </li>
  </ul>
</nav>
