<nav
  class="flex flex-col items-center space-y-1 md:space-y-0 md:items-baseline md:justify-between md:flex-row"
>
  <h1 class="text-lg font-extrabold leading-normal md:text-3xl">
    <a href="/">Karim Daghari</a>
  </h1>
  <ul class="flex space-x-4 text-lg font-medium leading-normal md:text-xl">
    {%- assign links = "about,blog,notes,projects" | split: ',' -%} {%- for link
    in links -%}
    <li>
      <a href="/{{ link }}" class="hover:underline hover:font-bold">
        {{ link | capitalize }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
