<nav class="flex items-baseline justify-between">
  {% include title %}
  <ul
    class="flex space-x-3 text-lg font-medium leading-normal md:space-x-4 md:text-xl"
  >
    {%- assign links = "blog,notes,projects" | split: ',' -%} {%- for link in
    links -%}
    <li>
      <a href="/{{ link }}" class="hover:underline hover:font-bold">
        {{ link | capitalize }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
